@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1B2316;
  --secondary: #FFFFFF;
  --accent: #FFF84E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary);
    --foreground: var(--secondary);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
